body {
    max-width: 90%;
    margin-top: auto;
    margin-left: 10%;
    margin-bottom: auto;
    margin-right: 10%;
    /*background: -webkit-linear-gradient(90deg, rgb(137, 45, 8), rgb(20, 90, 37));
    background: radial-gradient(90deg, rgb(137, 45, 8), rgb(20, 90, 37));*/
    background-image: url("images/garde.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header:nth-child(third){
    background: yellow;
    border-radius: 8px;
    padding: 1px;
}

h1{

}

.time-and-author{

}

time{
    font-size: small;
}

.name-author{
    font-size: large;
}

figure{

}

#image-one{

}

section{

}
.preamble{
    color: darkblue;
    text-align: center;
}

h2{

}

ol{

}

.what-to-do{

}

li{

}

.story{
    margin-top: auto;
    margin-left: 25%;
    margin-bottom: auto;
    margin-right: 25%;

}

.story p{
    font-size: 160%;
    padding-top: 80px;
    padding-bottom: 80px;
    color: darkblue;
}

.commiserate{
    border-left: 5px dashed blue;
    padding-left: 30px;
    background-color: lightgray;
    font-style: italic;
    }

.farmer{
    border-left: 5px dashed green;
    padding-left: 30px;
    background-color: lightgray;
    font-style: italic;
}

.good{
    text-transform: capitalize;
    color: lawngreen;
}

.bad{
    text-transform: capitalize;
    color: red;
}

#link-the-story{

}

#link-alan-watts{

}

a{
    color: darkblue;
}

a:visited{
    color: purple;
    cursor: move;
}

a:hover{
    color: red;
}

a:active{
    color: aqua;
}

table{
    border-collapse: collapse;
    border: 3px solid black;
    width: 50%;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    margin-left: 25%;
    margin-bottom: auto;
    margin-right: 25%;
}

caption{
    text-align: center;
}

tr{
    background-color: forestgreen;
}

tr:nth-child(even){
    background-color: lightgray;
    border: 3px solid black;
}

th{
    border: 3px solid black;
    height: 30px;
}

td{
    border: 3px solid black;
}

.farmers-philosophy{
    text-align: center;
    font-weight: bold;
}

h4{

}

footer{

}