body {
    max-width: 90%;
    margin-top: auto;
    margin-left: 10%;
    margin-bottom: auto;
    margin-right: 10%;
    /*background: -webkit-linear-gradient(90deg, rgb(137, 45, 8), rgb(20, 90, 37));
    background: radial-gradient(90deg, rgb(137, 45, 8), rgb(20, 90, 37));*/
    background-image: url("images/chinese background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


header:first-child{
    background: #D4ED16;
    border-radius: 8px;
    padding: 1px;
    text-align: center;
    color: darkolivegreen;
}

h1{

}

.fixFloat {
    display: block;
    margin-top: 25px;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-right: 25%;
}

.time-and-author{
text-align: center;
}

figure{

}

#image-one{
    border-radius: 8px;
    width: 250px;
    float: left;
    margin-top: 25px;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-right: 25%;
    padding-bottom: 80px;
}

time{
    font-size: small;
    padding-top: 2px;
    padding-bottom: 2px;
    color: darkolivegreen;
}

.name-author{
    font-size: large;
    padding-top: 2px;
    padding-bottom: 2px;
    color: darkolivegreen;
}

section{

}
.preamble{
    color: darkolivegreen;
    text-align: center;
    margin-top: 25px;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-right: 25%;
    padding-bottom: 80px;

}

ol{

}

.what-to-do{

}

li{

}

.story{
    text-align: center;
    margin-top: auto;
    margin-left: 25%;
    margin-bottom: auto;
    margin-right: 25%;
}

.storyPartOne p{
    padding-top: 80px;
    padding-bottom: 80px;
    color: darkolivegreen;
}

.storyPartTwo p{
    padding-bottom: 80px;
    color: darkolivegreen;
}

.storyPartThree p{
    padding-bottom: 80px;
    color: darkolivegreen;
}

.commiserate{
    border-left: 5px dashed blue;
    padding-left: 30px;
    background-color: lightgray;
    font-style: italic;
    }

q{
    display: block;
}

.farmer{
    border-left: 5px dashed green;
    padding-left: 30px;
    background-color: lightgray;
    font-style: italic;
}

.good{
    text-transform: capitalize;
    color: lawngreen;
}

.bad{
    text-transform: capitalize;
    color: red;
}

#link-the-story{

}

#link-alan-watts{

}

a{
    color: darkolivegreen;
}

a:visited{
    color: lawngreen;
    cursor: move;
}

a:hover{
    color: red;
}

a:active{
    color: aqua;
}

table{
    border-collapse: collapse;
    border: 3px solid black;
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-left: 25%;
    margin-bottom: auto;
    margin-right: 25%;
}

caption{
    text-align: center;
    color: darkolivegreen;
    padding-top: 80px;
    padding-bottom: 20px;
}

tr{
    background-color: forestgreen;
}

tr:nth-child(even){
    background-color: lightgray;
    border: 3px solid black;
}

th{
    border: 3px solid black;
    height: 30px;
}

td{
    border: 3px solid black;
}

.farmers-philosophy{
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
    padding-top: 20px;
    padding-bottom: 80px;
}

h4{

}

.conclusion{
    padding-bottom: 80px;
}

.notification{
    position: fixed;
    right: 0px;
    bottom: 50px;
    padding:.5rem 1rem;
    width:150px;
    font-weight:bold;
    color: darkolivegreen;
}

.notification img{
    border-radius: 50%;
    width: 150px;
}

footer{

}